@charset "utf-8";
/*--------------ν—¤λ”--------------*/
span.logo{  position:absolute;  top:10px; left:0; width:100%; height:100%;  background:url('../../images/logo.png') no-repeat; }
.hader_logo { float:left; position:relative; width:307px; height:35px;}
.header_nav {z-index:2;position:relative;width:100%; height:50px; border-bottom:1px solid #dddddd; background:#fff;}
.header_subnav { border-bottom:2px solid #e34d4d; width:100%; height:50px;  background:#fff;}
.top_menu .top_gnb_ov {color:#e34d4d;background:url('../images/main_header.png') no-repeat 50% 110%;}
.top_menu .top_gnb li:hover {color:#e34d4d;background:url('../images/main_header.png') no-repeat 50% 110%;}
.top_menu .top_gnb { float:right;font-weight:600;}
.top_menu .top_gnb li { width:150px;text-align:center;display:block;float:left;line-height:50px;}
.top_menuov { z-index:1; position:absolute;right:0;font-size:13px; padding:0 30px 30px;background:#fff;
			border-left:1px solid #dddddd;border-right:1px solid #dddddd;border-bottom:2px solid #e34d4d;}
.top_menuov a:hover{ color:#cd8037;text-decoration:underline;}
.top_menuov .top_small_gnb{ color:#cd8037;text-decoration:underline;}
.top_menuov li {line-height:25px;width:120px;letter-spacing:-0.5px;}
.top_menuov h4{ font-size:15px; color:#e34d4d;font-weight:600;margin:20px 0;}
.top_menuov{ margin-left:50px;}
.top_menuov .top_gnb01 > li, .top_menuov .top_gnb02 > li, .top_menuov .top_gnb03 > li, .top_menuov .top_gnb04 > li  {float:left;}
.line_botted01 { border-left:1px dashed #dddddd;height:120px;margin:25px 30px 0;display:inline-block;float:left;}
.line_botted02 { border-left:1px dashed #dddddd;height:235px;margin:25px 15px 0;display:inline-block;float:left;}
.line_botted03 { border-left:1px dashed #dddddd;height:160px;margin:25px 30px 0;display:inline-block;float:left;}

/*--------------ν‘Έν„°--------------*/
.footer {background-color:#fff;width:100%;height:40px;font-size:13px;}
info2{width:100%;height:60px;padding-top:20px;border-top:1px solid #dddddd;font-size:13px;}
.info2 > div > div { margin-left:130px;}
.info2 div > div > p { float:right;margin-top:10px;}
.info2 p:first-child{float:left; width:100px; height:30px; background:url('../../images/logo.png') no-repeat 0px -35px;}
.info2 ul li {float:left;padding:0 20px;text-align:center;margin-top:10px;border-left:1px solid #dddddd;}
.info2 ul li:first-child { padding-left:0;border-left:0;}